.cardImage {
    margin: 5px 5px;
    max-width: 100%;
    max-height: 200px;
}

span {
    color: black;
}

.articleEl {
    border: none;
}

.articleText {
    text-align: justify;
}

.grey-text {
    color: grey;
}

.pageLink {
    text-decoration: none;
    color: black;
}

.epmty {
    height: 100px;
}

.epmty2 {
    height: 30px;
}

.p3 {
    text-align: justify;
}