.trTop {
  border-bottom: none;
}

.epmty5 {
  height: 100px;
}
.tdImage {
  max-width: 130px;
  max-height: 200px;
  margin: 0 auto;
}
tr {
  border-bottom: 0.01rem solid grey;
}
.total {
  text-align: right;
}
